@charset "utf-8";

body {
    color: #061826;
    // background-color: #eef4ed;
}

h1 {
    font-size: 2em;
    padding: 0.5em;
    color: #ffffff;
    background: #0471a6;
}

// h1 {
//     font-size: 2em;
//     font-weight: 500;
//     padding: 0.5em 0.3em;
//     // color: #0471a6;
//     border-top: solid 2.5px #0471a6;
//     border-bottom: solid 2.5px #0471a6;
// }

h2 {
    font-size: 1.5em;
    padding: 0.4em 0.5em;
    /*文字の上下 左右の余白*/
    border-left: solid 5px #0471a6;
    border-bottom: solid 2.5px #0471a6;
}

h3 {
    font-size: 1.3em;
    padding: 0.5em;
    border-bottom: solid 2.5px #0471a6;
}

h4 {
    font-size: 1.1em;
    padding: 1em 0 0 0;
    font-weight: 500;
    // background: linear-gradient(transparent 70%, #0471a6 70%);
}

h1.home {
    all: initial;
    font-size: 4em;
    font-weight: 500;
    text-align: center;
    margin: 0 auto;
    display: block;
    color: #0471a6
}

h2.home {
    all: initial;
    font-size: 1.25em;
    font-weight: 250;
    text-align: center;
    margin: 0 auto;
    display: block;
    color: #ffffff
}

table {
    line-height: 0.5;
}

table th {
    width: 5em;
    /* 幅を指定した要素だけ固定される。他は等倍の可変 */
}

table.news th {
    width: 6.5em;
    /* 幅を指定した要素だけ固定される。他は等倍の可変 */
}

a {
    color: #3685b5
}

// a:link {
//     color: #0000EE;
// }

// a:visited {
//     color: #551A8B;
// }

a:hover {
    color: #db5461;
    // text-decoration: underline;

}

a:active {
    color: #db5461;
}

a.btn-large {
    color: #ffffff;
}

// .brand-logo {
//     padding-left: 0;
//     padding-right: 0;
// }

.header {
    background-color: #0471a6;
}

.header a:hover {
    background-color: #3685b5;
}

.header a:active {
    color: #ffffff;
    background-color: #3685b5;
}

.header a {
    color: #ffffff;
}

.footer {
    background-color: #0471a6;
}

.footer-copyright {
    color: #ffffff;
    background-color: #0471a6;
}

#index-banner {
    background-image: url('../research/image.jpg');
    /* 画像のパスを指定 */
    background-size: cover;
    /* 背景画像を要素のサイズに合わせる */
    background-position: center;
    /* 画像を中央に配置 */
    background-repeat: no-repeat;
    /* 画像を繰り返さない */
    min-height: 300px;
    /* 必要に応じて高さを設定 */
    color: #ffffff;
    /* テキストの色を変更（必要に応じて） */
    padding: 20px;
    /* 内部の余白を設定 */
}

#download-button {
    background-color: #0471a6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    -webkit-font-smoothing: antialiased;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

.shadow-demo {
    background-color: #26a69a;
    width: 100px;
    height: 100px;
    margin: 20px auto;
}

h1.page-title {
    font-weight: 500;
    font-size: 2.3em;
    text-align: center;
    color: #29b6f6;
}

.col.grid-example {
    border: 1px solid #eee;
    margin: 7px 0;
    text-align: center;
    line-height: 50px;
    font-size: 28px;
    background-color: tomato;
    color: white;
    padding: 0;
}

// .collection .collection-item.avatar {
//     padding-right: 30px;
// }

// .last-post {
//     padding: 0px 0 15px;
//     // padding: 10px 0 15px;
// }

// .last-post .collection .collection-item.avatar>.date-post {
//     position: absolute;
//     width: 54px;
//     // height: 54px;
//     height: 1em;
//     overflow: hidden;
//     left: 10px;
//     display: inline-block;
//     // padding: 16px 0;
//     padding: 0px 0;
//     vertical-align: middle;
//     background: #1c3177;
//     color: #fff;
//     text-align: center;
// }

.txt-center {
    text-align: center;
}

// .post-header h1.post-title {
//     color: #29b6f6;
//     font-size: 2.8em;
//     font-weight: 800;
// }

.post-header time {
    color: #cacaca;
    font-size: 0.9em;
}

p.rss-subscribe {
    margin: 0;
}

nav ul li.active a {
    // color: # !important;
    /* 文字色を黄色に */
    // font-weight: bold;
    /* 太字にする */
    background-color: #3685b5;
    // border-bottom: 3px solid #db5461;
    /* 下線を追加（任意） */
}
