---
layout: default
---

<div class="container">
    <!-- <div class="section"> -->
    <!-- <article class="post" itemscope itemtype="http://schema.org/BlogPosting"> -->

    <header class="post-header">
        <h1>新着情報</h1>
        <h2 class="post-title" itemprop="name headline">{{ page.title | escape }}</h2>
        <p class="post-meta">
            {% assign date_format = site.minima.date_format | default: "%Y/%m/%d" %}
            {{ page.date | date: date_format }}：{{ page.author }}
        </p>
    </header>

    <div class="post-content" itemprop="articleBody">
        {{ content }}
    </div>

    <div style="text-align: right">
            <a href="../../../../news">すべての新着情報に戻る</a>
    </div>

    {% if site.disqus.shortname %}
        {% include disqus_comments.html %}
    {% endif %}
<!-- </article> -->
    <!-- </div> -->
</div>

<script>$('.carousel.carousel-slider').carousel({fullWidth: true});</script>
